<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br />
  <table>
    <tr>
      <td class="appTd">
          <a [routerLink]="'./AddProject'" >Add Project&nbsp;&nbsp;&nbsp;</a> 
      </td>
      <td>
          <a [routerLink]="'./AddTask'" >Add Task&nbsp;&nbsp;&nbsp;</a> 
      </td>
      <td>
          <a [routerLink]="'./AddUser'" >Add User&nbsp;&nbsp;&nbsp;</a> 
      </td>
      <td>
          <a [routerLink]="'./ViewTask'" >View Task&nbsp;&nbsp;&nbsp;</a> 
      </td>
    </tr>
  </table> 
  <br /> 
  <router-outlet></router-outlet>
</div>
